/* *{
    max-width:100%;
} */
table{
    margin-top: 10rem;
    padding: 10px 20px;
   
   

}

td {
    padding: 5px;
    border: 2px solid lightgray;
    border-radius: 10px; /* Adjust padding as needed */
    text-align: center;
  }
th{
    text-align: center;
}
.urgency{
    width: 3rem;
    color: red;
    background-color: transparent;
    text-align: center;
}

.urgency-low{
    width: 3rem;
    color: black;
    background-color: transparent;
    text-align: center;
}

.btn{
    color: blueviolet;
}

.btn:hover{
    color: white;
    background-color: blueviolet;
}

.deadline {
    width: 7rem;
    color: red;
    background-color: transparent;
    text-align: center;
}

.deadline-low{
    width: 7rem;
    color: black;
    background-color: transparent;
    text-align: center;
}

.platinum{
    width: 6rem;
    color: gold;
    background-color: transparent;
    text-align: center;
}

.silver{
    width: 6rem;
    color: silver;
    background-color: transparent;
    text-align: center;
}

.bronze{
    width: 6rem;
    color: brown;
    background-color: transparent;
    text-align: center;
}

.case{
    width: 8rem;
    color: black;
    background-color: transparent;
    text-align: center;
}

.open{
    width: 4rem;
    color: white;
    background-color: black;
    text-align: center;
}

.low{
    width: 7rem;
    color: black;
    background-color: transparent;
    text-align: center;
}


.task-list{
    position: absolute;
    margin-left: 18rem;
    margin-top: 1.5rem;
    font-size: large;
    font-weight: bolder;
}

.search-bar{
    position: absolute;
    margin-left: 24rem;
    margin-top: 1.3rem;
    font-size: large;
    font-weight: bolder;
    border: 4px solid  lightgray;
    border-radius: 12px;
    
}

.current-task{
    position: absolute;
    margin-top: 5rem;
    margin-left: 18rem;
    color: purple;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border: 4px solid  purple;
    border-radius: 15px;
}



.filter{
    position: fixed;
    top: 10rem;
    right: 5rem;
}

.filter:hover{
    color: white;
    background-color: blueviolet;
}