<app-header></app-header>
<app-sidenav></app-sidenav>

<div class="task-list">
   <p>Task list</p> 
</div>

<div class="search-bar">
  <input matInput type="search" placeholder="Search here">
   </div>

   <div class="current-task">
    <input type="text" value="Get most current tasks  ." disabled style="color: purple;">
   </div>

  
   

   <div class="filter">
    <img src="../../../../assets/img/funnel.svg" alt="filter" style="width: 2rem;">
   </div>

<table style="margin-left: 17rem;" cellspacing="30">
    <thead >
      <tr style="padding: 2px; margin-left: -5rem">
        <th>Case ID</th>
        <th>Urgency</th>
        <th>Deadline</th>
        <th>Customer Name</th>
        <th>LifeTime Value</th>
        <th>Churn risk</th>
        <th>Case type</th>
        <th>Issue category</th>
        <th>Initiating Agent</th>
        <th>Case Status</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <div class="d-flex" >
            <div class="ms-3">
             <button class="btn" routerLink="/troubleshoot/id">I-1011</button>
            </div>
          </div>
        </td>


        <td>
          <div class="urgency">80</div>
      </td>


      <td>
          <div class="deadline">3 hours</div>
      </td>


      <td>
          <div class="d-flex align-items-center">
              <img src="https://mdbootstrap.com/img/new/avatars/6.jpg" class="rounded-circle" alt=""
                  style="width: 45px; height: 45px" />
              <div class="ms-3">
                  <p class="fw-bold mb-1">Alex Ray</p>
              </div>
          </div>
      </td>


      <td>
          <input class="platinum" type="text" disabled value="Platinum">
      </td>

      <td>
          <div class="deadline" style="font-weight: 700;">High</div>
      </td>

      <td>
          <div class="case">5G Throughputs</div>
      </td>

      <td>
          <div class="case">Troubleshooting</div>
      </td>

      <td>
          <div class="case">Specialist - Marco</div>
      </td>

      <td>
          <div class="case">Investigation</div>
      </td>

      <td>
          <button class="open" type="button">Open</button>
      </td>





      </tr>


      <tr>
        <td>
          <div class="d-flex" >
            <div class="ms-3">
             <button class="btn">S-0120</button>
            </div>
          </div>
        </td>


        <td>
          <div class="urgency-low">10</div>
        </td>


        <td>
         <div class="deadline-low">2 days, 4 hours</div>
        </td>


        <td>
            <div class="d-flex align-items-center">
                <img
                src="https://mdbootstrap.com/img/new/avatars/8.jpg"
                class="rounded-circle"
                alt=""
                style="width: 45px; height: 45px"
                />
              <div class="ms-3">
                <p class="fw-bold mb-1">Klaus Muller</p>
              </div>
            </div>
          </td>


        <td>
            <input class="silver" type="text" disabled value="Silver">
        </td>

        <td>
            <div class="low">Low</div>
        </td>

        <td>
       <div class="case">Low User Perceived Throughput</div>
        </td>

        <td>
            <div class="case">Connectivity</div>
        </td>

        <td>
            <div class="case">Billing - Katherine</div>
        </td>

        <td>
                <div class="case">Pending</div>
        </td>

        <td>
            <button class="open" type="button">Open</button>
        </td>



      </tr>


      <tr>
        <td>
          <div class="d-flex" >
            <div class="ms-3">
             <button class="btn">S-0148</button>
            </div>
          </div>
        </td>


        <td>
          <div class="urgency-low">10</div>
        </td>


        <td>
          <div class="deadline-low">4 days</div>
        </td>


        <td>
            <div class="d-flex align-items-center">
              <img
                  src="https://mdbootstrap.com/img/new/avatars/7.jpg"
                  class="rounded-circle"
                  alt=""
                  style="width: 45px; height: 45px"
                  />
              <div class="ms-3">
                <p class="fw-bold mb-1">Elena Cornor</p>
              </div>
            </div>
          </td>


        <td>
            <input class="bronze" type="text" disabled value="Bronze">
        </td>

        <td>
            <div class="low">Low</div>
        </td>

        <td>
           <div class="case">High Interference</div>
        </td>

        <td>
            <div class="case">Connectivity</div>
        </td>

        <td>
            <div class="case">Specialist - Marco</div>
        </td>

        <td>
                <div class="case">Open</div>
        </td>

        <td>
            <button class="open" type="button">Open</button>
        </td>
      </tr>


      <tr>
        <td>
          <div class="d-flex" >
            <div class="ms-3">
             <button class="btn">S-0150</button>
            </div>
          </div>
        </td>


        <td>
          <div class="urgency-low">20</div>
        </td>


        <td>
          <div class="deadline-low">5 days</div>
        </td>


        <td>
            <div class="d-flex align-items-center">
              <img
                  src="https://mdbootstrap.com/img/new/avatars/9.jpg"
                  class="rounded-circle"
                  alt=""
                  style="width: 45px; height: 45px"
                  />
              <div class="ms-3">
                <p class="fw-bold mb-1">Mellisa Anderson</p>
              </div>
            </div>
          </td>


        <td>
            <input class="bronze" type="text" disabled value="Bronze">
        </td>

        <td>
            <div class="deadline" style="font-weight: 700;">High</div>
        </td>

        <td>
            <div class="case">Bearer drop</div>
        </td>

        <td>
            <div class="case">Troubleshooting</div>
        </td>

        <td>
            <div class="case">Customer - Alyssa Anderson</div>
        </td>

        <td>
              <div class="case">Investigation</div>
        </td>

        <td>
            <button class="open" type="button">Open</button>
        </td>
      </tr>



    </tbody>
  </table>
