<div class="container">
    <div class="left-box">
        <img src="../../../../assets/img/p5.avif">
        <div class="user-profile">
            <h1>Mark</h1>
            <p>Network Engineer</p>
            <p>Location:Irving,Tx</p>
            <p>Mobile:(+1)123 456 789</p>
        </div>
    </div>
    <div class="right-box">
        <div class="main">
            <img src="../../../../assets/img/p6.png" />

            <h1>Field Support - Network Issue Esclation</h1>
        </div>
       
        <div class="content">
            <div class="label">

                <h1>Location</h1>
            </div>
            <div class="other">
                <div>
                    <h2 >UL Speed & DL Speed are bad
                
                    </h2>
                </div>
               <div>
                <span>
                    <img src="../../../../assets/img/i1.jpg">
                </span>
               </div>
                
               
            </div>
            
        </div>
        <div class="content">
            <div class="label">

                <h1>Issue Brief</h1>
            </div>
            <div class="other">
                <div>
                    <h2 >
                        Powered On&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    </h2>
                </div>
               <div>
                <span>
                    <img src="../../../../assets/img/i1.jpg">
                </span>
               </div>
                
               
            </div>
            
        </div>
        
        <div class="content">
            <div class="label">

                <h1>Device Status</h1>
            </div>
            <div class="other">
                <div>
                    <h2 >Connected-Ping Ok &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                
                    </h2>
                </div>
               <div>
                <span>
                    <img src="../../../../assets/img/i1.jpg">
                </span>
               </div>
                
               
            </div>
            
        </div>
        
        <div class="content">
            <div class="label">

                <h1>Location</h1>
            </div>
            <div class="other">
                <div>
                    <h2 style="color:blue;">123,abc avenue,Irving Tx &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                
                    </h2>
                </div>
               <div>
                <span>
                    <img src="../../../../assets/img/i1.jpg">
                </span>
               </div>
                
               
            </div>
            
        </div>
        
        <div class="content">
            <div class="label">

                <h1>Customer Contact</h1>
            </div>
            <div class="other">
                <div>
                    <h2 style="color:blue;">(+1)345 678 912 
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    </h2>
                </div>
               <div>
                <span>
                    <img src="../../../../assets/img/i1.jpg">
                </span>
               </div>
                
               
            </div>
            
        </div>
        
        

        <button class="button-63" role="button" routerLink="/troubleshoot/field-login">TroubleShoot</button>

    </div>
</div>









<!-- <div class="content">
    <h1>Customer Contact</h1>
    <h2 style="color:blue;text-decoration:underline;">+1(345) 678 912
        <span>
            <img src="../../../../assets/img/i1.jpg">
        </span>
    </h2>
    
  
</div> -->

  <!-- <div class="content">
            <div class="label">
                <h1>Issue brief</h1>
            </div>
            <div class="status">
                <h2>UL Speed & DL Speed ared bad</h2>
                <span>
                    <img src="../../../../assets/img/i1.jpg">
                </span>

            </div>
        </div> -->
        <!-- <div class="content">
            <div class="label">
                <h1>Device Status</h1>
            </div>
            <div class="status">
                <h2></h2>
                <span>
                    <img src="../../../../assets/img/i1.jpg">
                </span>

            </div>
        </div>
        <div class="content">
            <div class="label">
                <h1>Connectivity Status</h1>
            </div>
            <div class="status">
                <h2>Connected Ping Ok</h2>
                <span>
                    <img src="../../../../assets/img/i1.jpg">
                </span>

            </div>
        </div>
        <div class="content">
            <div class="label">
                <h1>Location</h1>
            </div>
            <div class="status">
                <h2 style="color:blue;text-decoration: underline;">123,abc avenue,Irving Tx

                </h2>
                <span>
                    <img src="../../../../assets/img/i1.jpg">
                </span>

            </div>
        </div>
        <div class="content">
            <div class="label">
                <h1>Customer Contact</h1>
            </div>
            <div class="status">
                <h2 style="color:blue;text-decoration:underline;">+1(345) 678 912

                </h2>
                <span>
                    <img src="../../../../assets/img/i1.jpg">
                </span>

            </div>
        </div> -->

        <!-- <div class="content">
            <h1>Connectivity Status</h1>
            <div class="other">
                <h2 >Connected Ping Ok</h2>
                <img src="../../../../assets/img/i1.jpg">
                
            </div>
           
        </div> -->

<!-- <form class="form">
            <div class="input">
                <label>Issue brief</label>
                <input type="text" placeholder="UL Speed & DL Speed are bad">
            </div>
            <div class="input">
                <label>Issue brief</label>
                <input type="text" placeholder="UL Speed & DL Speed are bad">
            </div>
            <div class="input">
                <label>Issue brief</label>
                <input type="text" placeholder="UL Speed & DL Speed are bad">
            </div>
            <div class="input">
                <label>Issue brief</label>
                <input type="text" placeholder="UL Speed & DL Speed are bad">
            </div>
            <div class="input">
                <label>Issue brief</label>
                <input type="text" placeholder="UL Speed & DL Speed are bad">
            </div>
           

        </form> -->
<!-- <form>
            <div class="form-group row">
              
              <label for="inputPassword" class="col-sm-2 col-form-label">Issue Brief</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="inputPassword" placeholder="Password">
              </div>
            </div>
            <div class="form-group row mb-15">
              <label for="inputPassword" class="col-sm-2 col-form-label">Device Status</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="inputPassword" placeholder="Password">
              </div>
            </div>
            <div class="form-group row mb-15">
                <label for="inputPassword" class="col-sm-2 col-form-label">connectivity Status</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" id="inputPassword" placeholder="Password">
                </div>
              </div>
              <div class="form-group row mb-15">
                <label for="inputPassword" class="col-sm-2 col-form-label">Location</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" id="inputPassword" placeholder="Password">
                </div>
              </div>
              <div class="form-group row mb-15">
                <label for="inputPassword" class="col-sm-2 col-form-label">Customer Contact</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" id="inputPassword" placeholder="Password">
                </div>
              </div>
          </form> -->