<div class="container">
    <div class="left-box">
        <img src="../../../../assets/img/p5.avif">
        <div class="user-profile">
            <h1>Mark</h1>
            <p>Network Engineer</p>
            <p>Location:Irving,Tx</p>
            <p>Mobile:(+1)123 456 789</p>
        </div>
    </div>
    <div class="right-box">
        <div class="main">
            <img src="../../../../assets/img/p6.png" />

            <h1>Field Support - Network Issue Esclation</h1>
        </div>
       
        <div class="container1">
            <h2>login</h2>
            <form>
              <input type="text" class="email" placeholder="email">
              <br/>
              <input type="password" class="pwd" placeholder="password">
            </form>
            <a href="#" class="link">
              forgot your password ?
            </a>
            <br/>
            <button class="register">
              <span>register</span>
            </button>
            <button class="signin" routerLink="/troubleshoot/dashbaoard">
              <span>sign in</span>
            </button>
            <h3>your registration is complete !    </h3>
            <h3>your sign in is complete !</h3>
            <div class="reg"></div>
            <div class="sig"></div>
          
           
           
          </div> 
        
         
       
        
        
      
        <!-- <button class="button-63" role="button">Login</button>
        <p class="loginIssue">Trouble Logging in</p> -->
       

    </div>
</div>




<!-- <div > 
    <label>UserName</label> 
    <input type="text" placeholder="Name" class="form__input" id="name" /> 
</div> -->
