<div class="header">
    <p class="title">TROUBLESHOOT 360</p>
    <div class="logo">
        <img class="img" src="../../../../assets/img/verizon-logo.jpg" alt="logo">
    </div>
    <div class="icons">
        <img src="../../../../assets/img/user-dp.jpg" alt="dp">
        <p class="name">Mark</p>
        <mat-icon matBadge="2" matBadgeColor="warn" style="margin-left: 20px; overflow: visible;" [ngStyle]="{'font-size': '40px'}">notifications</mat-icon>
        <mat-icon  matBadge="1" matBadgeColor="primary" style="margin-left: 20px; overflow: visible;" [ngStyle]="{'font-size': '40px'}">settings</mat-icon>
    </div>
    <hr class="separator">
