<div class="container">
    <div class="row outer">
       
        <div class="col-md-2 card1">
            <div class="card-outer">
                <div class="card-body">
                    <h5 class="card-title">Self Install</h5>
                    <div class="underline"></div>
                    <div class="text-center">
                        <img src="../../../../assets/img/c6.jpg" alt="User Image"
                            class="img-fluid rounded-circle user-image">
                        <h6 class="mt-3 card-user">JackRyan <br />(Customer)</h6>
                        <div class="underline"></div>
                    </div>
                    <div class="main">
                        <div class="t1">
                            <h1>Installation</h1>
                            <span>
                                <img src="../../../../assets/img/i1.jpg" alt="">
                            </span>
                        </div>
                        <div class="t1">
                            <h1>Configuration</h1>
                            <span>
                                <img src="../../../../assets/img/i2.jpg" alt="">
                            </span>
                        </div>
                        <div class="t1">
                            <h1>Status</h1>
                            <span>
                                <img src="../../../../assets/img/i2.jpg" alt="">
                            </span>
                        </div>
                    </div>
                    <div class="row img1 mt-3">
                        <div class="col text-center">
                            <img src="../../../../assets/img/m1.jpg" class="img-fluid rounded-circle helper-image">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-2 card1">
            <div class="card-outer">
                <div class="card-body">
                    <h5 class="card-title">Raise Issue</h5>
                    <div class="underline"></div>
                    <div class="text-center">
                        <img src="../../../../assets/img/c7.jpg" alt="User Image"
                            class="img-fluid rounded-circle user-image">
                        <h6 class="mt-3 card-user">Tushar <br />(Customer)</h6>
                        <div class="underline"></div>
                    </div>
                    <div class="main">
                        <div class="t1">
                            <h1>Status</h1>
                            <span>
                                <img src="../../../../assets/img/i1.jpg" alt="">
                            </span>
                        </div>
                        <div class="t1">
                            <h1>UL Speed</h1>
                            <span>
                                <img src="../../../../assets/img/i2.jpg" alt="">
                            </span>
                        </div>
                        <div class="t1">
                            <h1>DL Speed</h1>
                            <span>
                                <img src="../../../../assets/img/i2.jpg" alt="">
                            </span>
                        </div>
                    </div>
                    <div class="row img1 mt-3">
                        <div class="col text-center">
                            <img src="../../../../assets/img/h1.png" class="img-fluid rounded-circle helper-image">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-2 card1">
            <div class="card-outer">
                <div class="card-body">
                    <h5 class="card-title">Tier1 Support</h5>
                    <div class="underline"></div>
                    <div class="text-center">
                        <img src="../../../../assets/img/c3.jpg" alt="User Image"
                            class="img-fluid rounded-circle user-image">
                        <h6 class="mt-3 card-user">Macron <br />(CSR)</h6>
                        <div class="underline"></div>
                    </div>
                    <div class="main">
                        <div class="t1">
                            <h1>Device Status</h1>
                            <span>
                                <img src="../../../../assets/img/i1.jpg" alt="">
                            </span>
                        </div>
                        <div class="t1">
                            <h1>Auto Checks</h1>
                            <span>
                                <img src="../../../../assets/img/i2.jpg" alt="">
                            </span>
                        </div>
                        <div class="t1">
                            <h1>Speed tests</h1>
                            <span>
                                <img src="../../../../assets/img/i2.jpg" alt="">
                            </span>
                        </div>
                    </div>
                    <!-- <div class="row img1 mt-3">
                        <div class="col text-center">
                            <img src="../../../../assets/img/h1.png" class="img-fluid rounded-circle helper-image">
                        </div>
                    </div> -->
                    <div class="row  img3 mb-15  ml-8">
                        <div class="col text-center">
                              
                              <h5 class="heading5">Service<br/> Assurance <br/>Workflow</h5>
                        </div>
                    </div>
                  
                </div>
            </div>
        </div>
        <div class="col-md-2 card1">
            <div class="card-outer">
                <div class="card-body">
                    <h5 class="card-title">Field Dupport</h5>
                    <div class="underline"></div>
                    <div class="text-center">
                        <img src="../../../../assets/img/c4.jpg" alt="User Image"
                            class="img-fluid rounded-circle user-image">
                        <h6 class="mt-3 card-user">Mark <br />(Network Engineer)</h6>
                        <div class="underline"></div>
                    </div>
                    <div class="main">
                        <div class="t1">
                            <h1>Device Location</h1>
                            <span>
                                <img src="../../../../assets/img/i1.jpg" alt="">
                            </span>
                        </div>
                        <div class="t1">
                            <h1>Coverage</h1>
                            <span>
                                <img src="../../../../assets/img/i1.jpg" alt="">
                            </span>
                        </div>
                        <div class="t1">
                            <h1>Interference</h1>
                            <span>
                                <img src="../../../../assets/img/i1.jpg" alt="">
                            </span>
                        </div>
                    </div>
                   
                    <div class="row  img3 mt-11">
                        <div class="col text-center">
                            <h5 class="heading6" routerLink="/troubleshoot/field" style="cursor: pointer;">Service<br/> Assurance <br/>Workflow
                                <span class="small-icon">
                                    <img src="../../../../assets/img/g1.png">
                                </span> 
                            </h5> 
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
        
        <div class="col-md-2 card1">
            <div class="card-outer">
                <div class="card-body">
                    <h5 class="card-title">Raise Issue</h5>
                    <div class="underline"></div>
                    <div class="text-center">
                        <img src="../../../../assets/img/c1.jpg" alt="User Image"
                            class="img-fluid rounded-circle user-image">
                        <h6 class="mt-3 card-user">Maria <br />(Customer)</h6>
                        <div class="underline"></div>
                    </div>
                    <div class="main">
                        <div class="t1">
                            <h1>Status</h1>
                            <span>
                                <img src="../../../../assets/img/i1.jpg" alt="">
                            </span>
                        </div>
                        <div class="t1">
                            <h1>UL Speed</h1>
                            <span>
                                <img src="../../../../assets/img/i2.jpg" alt="">
                            </span>
                        </div>
                        <div class="t1">
                            <h1>DL Speed</h1>
                            <span>
                                <img src="../../../../assets/img/i2.jpg" alt="">
                            </span>
                        </div>
                    </div>
                    <div class="row img1 mt-3">
                        <div class="col text-center">
                            <img src="../../../../assets/img/11.png" class="img-fluid rounded-circle helper-image">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</div>



