<!-- <div class="container">
    <div class="left-box">
        <img class="logo" src="../../../assets/img/p6.png" />
        <div class="box1">
            <div class="button">
                <h1>Self-Install</h1>
            </div>
            <span class="circle-icon">i</span>
        </div>
        <div class="box2">
            <div class="button" (click)="toggleImageVisibility()" routerLink="/troubleshoot">
                <h1>Troubleshoot</h1>
            </div>
            <span class="circle-icon">i</span>
        </div>
    </div>
    <div class="right-box">
        <div class="image" [hidden]="hideImage">
            <img src="../../../assets/img/1.5.avif" alt="auto">
        </div>
    </div>
</div> -->
<div class="container">
    <div class="left-box">
        <img class="logo" src="../../../assets/img/p6.png" />
        <div class="box1 neumorphism">
            <div class="button">
                <h1>Self-Install</h1>
            </div>
            <span class="circle-icon">
                <img src="../../../assets/img/information-button.png">
            </span>
        </div>
        <div class="box2 neumorphism">
            <div class="button" (click)="toggleImageVisibility()" routerLink="/troubleshoot">
                <h1>Troubleshoot</h1>
            </div>
            <span class="circle-icon">
                <img src="../../../assets/img/information-button.png">

            </span>
        </div>
    </div>
    <div class="right-box">
        <div class="image" [hidden]="hideImage">
            <img src="../../../assets/img/1.5.avif" alt="auto">
        </div>
    </div>
</div>